<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tripview ID찾기</title>
    <link rel="stylesheet" href="css/find_id.css">
    <script src="signup.js"></script>
</head>

<body>
    <div class="logo">
        <a th:href="@{/}" title="메인 페이지"><img src="css/Tripview.png" class="image"></a>
    </div>

    <section class="login-wrap">
        <form action="findid" method="post" >
	        <H2>아이디 찾기완료</H2>
	        <div class="login-name">
	            <p id="input-name"  th:text="${id}" >기본 메시지</p>
	        </div>  
	        <div class="signup-btn-wrap"><!--회원가입완료 버튼-->
	            <button type="button" id="signup-btn" onclick="location.href='login'" > 돌아가기 </button>
	        </div>
        </form>
    </section>
 

</body>
</html>